- cache ['v1', @project] do 
  .project
    %p
      %h2= @project.name
    = timeago

    %p
      %h2 Description
      = @project.description

    %p 
      %h2 Lists
      = render partial: 'projects/list', collection: @project.lists

    = link_to 'Edit', edit_project_path(@project)
    \|
    = link_to 'Back', projects_path
