%h1 Todos
%p= link_to 'New Todo', new_todo_path

%table
  %thead
    %tr
      %th= Todo.human_attribute_name :title
      %th= Todo.human_attribute_name :user
      %th= Todo.human_attribute_name :subject
      %th= Todo.human_attribute_name :list
  
  %tbody
    - for todo in @todos
      %tr{ :class => cycle(:odd, :even) }
        %td
          %b= link_to todo.title, todo_path(todo)
        %td= todo.user
        %td= todo.subject
        %td= todo.list.title.present? ? todo.list.title : ''
