%h1= t('.title')
%p= link_to t('.new_todo'), new_todo_path

%table
  %thead
    %tr
      %th= Todo.human_attribute_name :title
      %th= Todo.human_attribute_name :user
      %th= Todo.human_attribute_name :subject
      %th{:colspan => 3}= t 'actions'
  
  %tbody
    - for todo in @todos
      %tr{ :class => cycle(:odd, :even) }
        %td= todo.title
        %td= todo.user
        %td= todo.subject
        %td.action= link_to t('show'), todo
        %td.action= link_to t('edit'), edit_todo_path(todo)
        %td.action= link_to t('destroy'), todo, :confirm => 'Are you sure', :method => :delete
