%h1= @todo.title
%p
  = link_to t('back'), todos_path
  = link_to t('edit'), edit_todo_path(@todo)

%p
  %strong= Todo.human_attribute_name :title
  %br
  = @todo.title
%p
  %strong= Todo.human_attribute_name :user
  %br
  = @todo.user.present? ? @todo.user.name : 'No one is assigned'
%p
  %strong= Todo.human_attribute_name :subject
  %br
  = @todo.subject
