!!! 5
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "App_Name"
    %meta{:content => content_for?(:description) ? yield(:description) : "App_Name", :name => "description"}
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = csrf_meta_tags
    = yield(:head)
  %body
    #container.container
      %header
        random: 
        %strong= rand(900)+100
        %br
        %p#notice= notice
      #main{:role => "main"}
        = yield
      #sidebar
        %h2 Nav
        %ul
          %li= link_to 'Home', root_path
          %li= link_to 'Projects', projects_path
          %li= link_to 'Lists', lists_path
          %li= link_to 'Todos', todos_path
        %h2 Lists stuff
      %footer
